#  Data Analysis with Pandas

### Data set name: Video Game Sales - Sales data from more than 16,500 games

#### Name: Basel Atalla
#### Date: 21/Jun/021

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./vgsales.csv')

##### 1. Which company is the most common video game publisher?

In [3]:
most_common_publisher = df.Publisher.mode()[0]
most_common_publisher

'Electronic Arts'

##### 2. Whatâ€™s the most common platform?

In [4]:
most_common_platform= df.Platform.mode()[0]
most_common_platform

'DS'

##### 3. What about the most common genre?

In [5]:
most_common_genre = df.Genre.mode()[0]
most_common_genre

'Action'

##### 4. What are the top 20 highest grossing games?

In [6]:
highest_grossing_games = df.head(20)

In [7]:
top_twenty_highest_grossing_games = highest_grossing_games[['Name', 'Global_Sales']]
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

##### 5.What are the top 20 highest grossing games?

In [18]:
na_median_sales = df['NA_Sales'].median()
na_median_sales

0.08

In [9]:
surrounding_median = df[df['NA_Sales'] == df['NA_Sales'].median()][225:235].sort_values(by=['Rank'],ascending=[False])

In [23]:
surrounding_median[['Name','NA_Sales','Global_Sales']]
ten_median_na_seller_names = surrounding_median[['Name']]

                                     Name
10029            Tony Hawk's Pro Skater 5
10026                        NBA Jam 2002
10024  Family Game Night 4: The Game Show
10022               LEGO Knights' Kingdom
10020            Phantasy Star Collection
10012                   Nickelodeon Dance
10000                      A Witch's Tale
9996           GT Advance 2: Rally Racing
9957                             Deadpool
9934                     Turok: Evolution

##### 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [11]:
X=df['NA_Sales'].iloc[0]
mean=df['NA_Sales'].mean()
std=df['NA_Sales'].std()
deviations_from_mean= ((X-mean) /std)

In [12]:
deviations_from_mean

50.47898767479108

#### 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [13]:
wii = df[df['Platform'] == 'Wii']
not_wii =  df[df['Platform'] != 'Wii']
(not_wii['Global_Sales'].mean() ,wii['Global_Sales'].mean())

(0.5233896418516336, 0.6994037735849057)

##### 8. Come up with 3 more questions that can be answered with this data set.

##### Q1 the mean value of the Global_Sales:

In [14]:
Global_Sales_mean = df['Global_Sales'].mean()
Global_Sales_mean

0.5374406555006628

##### Q2 the best seling action game :

In [15]:
best_action_game = df[df['Genre'] == 'Action']['Name'].max()
best_action_game

'inFAMOUS: Second Son'

##### Q3 what is the name of best selling game in 2010?

In [16]:
best_in_2010 = df[df['Year'] == 2010.0]['Name'].max()
best_in_2010

'uDraw Studio'

In [22]:
def test():
    name = ["Tony Hawk's Pro Skater 5",
'NBA Jam 2002',
'Family Game Night 4: The Game Show',
"LEGO Knights' Kingdom",
'Phantasy Star Collection',
"Nickelodeon Dance",
"A Witch's Tale",
'GT Advance 2: Rally Racing',
'Deadpool',
'Turok: Evolution']
    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre ,'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name ,'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names, name)

    print("Success!!!")

test()

NameError: name 'ten_median_na_seller_names' is not defined